<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
 
    <title>Systems administration</title>
    <!--/*/ <th:block th:include="fragments/headerNavBasic :: head"></th:block> /*/-->
</head>
	<!--/*/ <th:block th:include="fragments/headerNavAdmin :: headerAdmin"></th:block> /*/-->
	<h1>Systems administration</h1>
	<select multiple>
		<option>MaryTTS</option>
		<option>Festival</option>
	</select>
		<form>
			<button>Add</button>
			<button>Delete</button>
		</form>
</html>
