<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Welcome</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/HeaderNavBasic :: header"></th:block> /*/-->
<div sec:authorize=":isAuthenticated()">
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
</body>
</html>