<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form method="post" th:action="@{/login}">
    <div th:class="${error != null ? 'has-error' : ''}">
        <span th:text="${message}"></span>
        <input name="username" type="text" placeholder="Username" autofocus="true"/>
        <input name="password" type="password" placeholder="Password"/>
        <span th:text="${error}"></span>
        <button type="submit">Log In</button>
        <h4><a th:href="@{\registration}">Create an account</a></h4>
    </div>
</form>
</body>
</html>