<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create an account</title>
</head>
<body>
<h1>Create an account</h1>
<form method="post" th:object="${userForm}" th:action="@{/registration}">
    <input type="text" th:field="*{username}" placeholder="User Name" th:class="${#fields.hasErrors('username')}? fieldError"/>
    <ul>
        <li th:each="err : ${#fields.errors('username')}" th:text="${err}" />
    </ul>


    <input type="password" th:field="*{password}" placeholder="Password" th:class="${#fields.hasErrors('password')}? fieldError"/>
    <ul>
        <li th:each="err : ${#fields.errors('password')}" th:text="${err}" />
    </ul>

    <input type="password" th:field="*{passwordConfirm}" placeholder="Confirm Password" th:class="${#fields.hasErrors('passwordConfirm')}? fieldError"/>
    <ul>
        <li th:each="err : ${#fields.errors('passwordConfirm')}" th:text="${err}" />
    </ul>

    <button type="submit">Submit</button>
</form>
</body>
</html>